body {
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  margin: 0px;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  font-weight: 300;
  display: block;
  width: 696px;
  padding-left: 20px;
}

.header-container {
  display:flex;
  flex-direction: row;
}

.ratings {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ratingcolumn {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0px;
}

.ratingrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.ReviewsCount {
  font-weight: 700;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #484848;
  font-size: 25px;
  line-height: 30px;
  letter-spacing: -0.6px;
}

.subrating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.profilePhoto {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-right: 15px;
}

.username {
  font-weight: 400;
  color: #484848;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  margin: 0px;
  word-wrap: break-word;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.2px;
  letter-spacing: 0.2px;
  font-size-adjust: 100%;
  box-sizing: border-box;
}

.reviewDate {
  box-sizing: border-box;
  margin: 0px;
  word-wrap: break-word;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: 0.2px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #484848;
  font-weight: 300;
  font-size-adjust: 100%;

}

.user {
  margin: 15px;
}

.review {
  display: flex;
  flex-direction: column;
}

.reviewhead {
  display: flex;
  flex-direction: row;
}

.reviewinfo {
  display: flex;
  flex-direction: column;
}

.searchInput {
  outline: none;
  border-radius: 2px;
  border-color: rgb(220, 224, 224);
  border-width: 1px;
}

.searchInput:focus {
  border-color: #008489;
  border-width: 1px;
  outline: none;
}

.activeSearchInput {
  border-color: #008489;
  border-width: 1px;
  outline: none;
}

.searchSummary {
  box-sizing: border-box;
  color:rgb(72, 72, 72);
  display:inline;
  font-family:Circular, -apple-system, system-ui, Roboto, "Helvetica Neue", sans-serif;
  font-size:15px;
  font-weight:300;
  height:auto;
  letter-spacing:0.2px;
  line-height:18px;
  text-align:left;
  text-size-adjust:100%;
  width:auto;
  word-wrap:break-word;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

.summaryText {
  border-bottom: 1px solid rgb(220, 224, 224);
  border-top: 1px solid rgb(220, 224, 224);
  padding-top: 20px;
  padding-bottom: 20px;
}

.params {
  font-weight: bold;
}

.backToReviews {
  color: rgb(0, 132, 137);
  cursor: pointer;
  letter-spacing: normal;
  user-select: auto;
  word-spacing: 0px;
}


.backToReviews:hover {
  text-decoration: underline;
}

.container {
  padding-left: 0px;
  padding-right: 0px;
}

.header {
  border-bottom: 1px solid rgb(220, 224, 224);
  padding-bottom: 20px;
  padding-top: 20px;
  width: 676px;
}

.row {
  margin-left: auto;
  margin-right: auto;
}

.col {
  padding-left: 0px;
  padding-right: 0px;
}

.col-3 {
  padding-left: 0px;
  padding-right: 0px;
}

.col-4 {
  padding-left: 0px;
  padding-right: 0px;
}

.rating {
  padding-top: 20px;
}